.heart {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.2s;
}

.heart.active {
  color: rgb(73, 206, 73);
}

.rating {
  position: relative;
  z-index: 1;
  background: #f7f7f7;
  margin-top: 17px;

  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
}

.mg {
  margin-top: 17px;
}

.review-container {
  border: 1px solid #dbd8d8;
  border-radius: 5px;
  padding: 10px;
  cursor: text;
  transition: border-color 0.3s ease;
  width: 500px;
}

.review-container-focused {
  border-color: rgb(163, 16, 163);
}

.review-text {
  min-height: 100px;
  outline: none;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.character-counter {
  margin-top: 5px;
  font-size: 14px;
  color: rgb(196, 196, 196);
  text-align: left;
}

.text-holder {
  color: rgb(196, 196, 196);
}
.mb {
  margin-bottom: 14px;
}
.button-pointer {
  cursor: pointer;
}
