.debuggerFooter {
    position: fixed;
    left: 16px;
    bottom: 16px;
    text-align: left;
    background: rgba(0, 0, 0, .7);
    padding: 8px 24px;
    border-radius: 32px;
    opacity: .95;
    backdrop-filter: blur(8px);
}

.debuggerFooter * {
    font-size: 18px;
    color: #09f;
    opacity: .8;
    font-weight: 500;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: monospace;
}

.debuggerFooter {
    opacity: 1;
}

.debuggerFooter span:active {
    opacity: .6;
}

.debuggerFooter h4,
.footer h5 {
    margin: 0;
    display: flex;
}
