.container {
    height: 100%;
}

.background {
    height: max-content;
    padding: 3em 0;
    background-image: url('../../img//gradientBackground.png');
    background-attachment: fixed;
    background-size: cover;
}