:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --light-color: #aa9a9a;
  --hover-color: #416450;
  --disabled-color: #9db1c2;
  --error-color: #dc3545;
  /* Agrega más colores según tus necesidades */
}
