.stars-container {
  display: inline-flex;
  align-items: center;
}

.star {
  fill: gold;
  width: 1em;
  height: 1em;
  margin-right: 2px;
}

.star-empty {
  fill: transparent;
  stroke: black;
  width: 1em;
  height: 1em;
  margin-right: 2px;
}
